.kwanza p{
    font-size: 25px;
    color:white;
}
.container{
    background-image:url(https://bit.ly/2MPQQWr);
}
.jumbotron h1{
    font-style: italic;
    color:blue;
}
.pili p{
    font-size:25px;
    color:white;
}
.footer{
    font-size:25px;
}
    