.kwanza p{
    font-size: 25px;
    color:red;
}
.container{
    background-image:url(https://bit.ly/2WbA0nZ);
}
.jumbotron h1{
    font-style: italic;
    color:blue;
}
.pili p{
    font-size:25px;
    color:red;
}
    